<div class="container">
  DIALOG FLOW CHAT  
</div>
<div class="container" #scrollMe style="overflow-x:scroll; height:300px;">
  <div *ngFor="let m of messages">
      
      <div  class="container" style="width:50%">
          <img [src]="m.imgUrl" alt="Avatar" style="width:100%;">
          <h4>{{m.sender}}</h4>
          <p>{{m.message}}</p>
          <p>{{m.timestamp | date: 'M/d/yy, h:mm a'}}</p>
      </div>

  </div>

</div>
<div class="container">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="name">Chat</label>
      <input type="text" class="form-control" 
            required
            [(ngModel)]="chatmsg" name="chatmsg"
            >
    </div>

    

    <button type="submit" class="btn btn-success" >Submit</button>

  </form>
</div>